@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 500px;
    border-collapse: collapse;
}
td,tr{
    padding: 5px;
    border: 1px solid;
}