@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --font1: helvetica,arial,sans-serif;
    --font2: passion one;
    --font3: bubblegum sans;
}
html,body{
    background-color: darkgray;
}
header{
    background: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}
header a,footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header p{
    padding-bottom: 50px;
}
section{
    padding: 10vh 30px;
    line-height: 2rem;
    font-family: var(--font3);
    font-size: 2em;
}
section.normal{
    background-color: white;
}
section.imagem{
    background-color: rgb(29, 28, 28);
    color: white;
}
.imagem p{
    background: rgba(0, 0, 0, 0.316);
    display: inline-block;
    padding: 5px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}