*{
    margin: 0;
    padding: 0;
}
body,html{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin: 5px;
    line-height: 1.5em;
    padding: 5px;
}
caption{
    background-color: gray;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    margin: 0;
}
table{
    margin: 20px auto;
    width: 500px;
    border-collapse: collapse;
    position: relative;
}
th,td{
    border: 1px solid;
    padding: 5px;
}
thead,tfoot{
    background-color: gray;
    color: white;
    text-transform: capitalize;
}
thead{
    position: sticky;
    top: -1px;
}
.mas{
    position: sticky;
    top: 20px;
    background-color: white;
}
tbody>tr:nth-child(2n-1){
    background-color: lightgray;
}