@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border-collapse: collapse;
}
td{
    border: solid;
    padding: 30px;
    width: 200px;
    text-align: center;
    background-color: black;
    color: white;
    transition: 0.5s ease;

}
td:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}
.white{
    background-color: white;
    color: black;
}