@media screen and (min-width: 768px){
    button{
        display: none;
    }
    ul{
        padding: 0 5px;
    }
    li{
        display: inline-block;
    }
    menu{
        display: block;
    }
}