@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
    text-decoration: none;
}
::-webkit-scrollbar{
    display: none;
}
body{
    background: lightgray;
}
header{
    background-color: gray;
    padding: 10px 0;
}
h1{
    padding: 20px;
    text-align: center;

}
button{
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    text-transform: capitalize;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    cursor: pointer;
}
menu{
    display: none;
}
li{
    padding: 10px 0;
    background-color: rgb(93, 91, 91);
    text-align: center;
    transition: 0.8s ease;
    margin-bottom: 1px;
}
li:hover{
    background-color: rgb(73, 72, 72);
    color: white;
}
a{
    color: darkgray;
    text-transform: capitalize;
    padding: 10px;

}
a:hover{
    color: lightgray;
}
main{
    width: 95vw;
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
h2{
    text-align: center;
    text-transform: capitalize;
    margin: 10px;
}
p{
    margin: 10px;
    text-align: justify;
}